@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

p, li, label, ::placeholder, input {
  font-family: var(--font-red-hat-display);
  @apply tracking-wide
}